.feed-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 60px);
  padding: 10px 0;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.feed {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}