.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Evita que el `Home` tenga scroll */
  padding-top: 55px; /* Espacio reservado para el `Topbar` */
  padding-bottom: 12px;
}